//// filepath: src/main/resources/templates/admin/leaves.html
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Leave Requests</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header th:replace="fragments/adminHeader :: adminNavbar"></header>
    <main>
      <p>Leave request management functionality will be implemented here.</p>
    </main>
    <footer>
      <p>&copy; 2025 Your Company Name</p>
    </footer>
  </body>
</html>
